AddType text/x-component .htc

RewriteEngine On
# localhost
 RewriteBase /aicc/service
# live
# RewriteBase /

#json web service for app
RewriteRule ^data/([-A-Za-z0-9]+) data.php?service=$1&callback=$1 [L]

RewriteRule ^post/farmer post.php?q=$1 [L]